.card {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #f0f0f0;
  padding: 10px;
  font-weight: bold;
}

.card-body {
  padding: 10px;
}

.responsiveTable {
  width: 100%;
  border-collapse: collapse;
}

.responsiveTable thead th {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  z-index: 2;
}

.responsiveTable th,
.responsiveTable td {
  padding: 12px;
  border-bottom: 1px solid #dddddd;
  text-align: left;
}

/* Alternate row colors */
.responsiveTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Change background color on hover */
.responsiveTable tr:hover {
  background-color: #d9edf7;
}

.noDataWrapper {
  color: #ca3333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;
}

.noData {
  text-align: center;
  font-weight: bold;
  padding: 30px;
}
